.review-sec{
    margin-top: 80px;
}
.review-sec h2{
    margin-bottom: 30px !important;
}
.review-sec h2{
    margin-bottom: 70px !important;
}
.reviews-btn{
    padding: 15px 90px;
    margin: 0px 0 10 0 !important;
    background-color: rgb(215, 225, 235);
    border-radius: 5px;
    border: 0;
    font-weight: 500;
}