h1{
    color: rgb(34, 49, 53);
}
.banner h2{
    color: #006778
}
p{
    font-size: 14px;
    font-weight: 500;
    margin: 15px 0 !important;
}
.explore-btn{
    padding: 17px 40px;
    background-color:rgb(215, 225, 235);
    border: 0;
    margin-top: 20px !important;
    border-radius: 5px;
    font-weight: 500;
}